body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#chart,svg{width:660px;height:560px;background-color: #34495e;}

@media (max-width: 600px) {
#chart,svg{width:260px;height:260px;background-color: #34495e;}

}
